@import url("http://fonts.cdnfonts.com/css/kelly-slab");
.background {
  background-color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Kelly Slab;
  margin: 150px;
}

#section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #bbb;
  padding: 40px;
}
#name {
  font-family: Kelly Slab;
  font-size: 25px;
  color: red;
  opacity: 90%;
}
#m1 {
  margin-left: 520px;
}
#m4 {
  margin-left: 555px;
}
#m2 {
  margin-left: 510px;
}
h2,
h4 {
  font-family: Kelly Slab;
}

.content {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  padding: 40px;
}
#content {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: blue;
  padding: 40px;
  height: 100px;
}
.rounded-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.dotted {
  border: 1px dashed black;
  border-style: dashed;
  color: #fff;
  background-color: #fff;
}
#bc {
  background-color: darkkhaki;
}
#left {
  text-align: justify;
}
#l1,
#l2,
#l3 {
  text-align: justify;
}
#po {
  border: 1px solid black;
  height: 50px;
  background-color: darkred;
  text-align: center;
  width: 100%;
}
#li {
  text-align: right;
}
#ll {
  width: 10px;
  margin-left: 20px;
  text-align: center;
}
.ab {
  background-color: #bbb;
}
#lp {
  padding-top: 50px;
}
@media (max-width: 600px) {
  section {
    -webki-flex-derection: column;
    flex-direction: column;
  }
}
